@font-face {
	font-family: 'Raleway';
	src: 
		url('../fonts/Raleway-Regular.ttf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'RalewayExtraBold';
	src: 
		url('../fonts/Raleway-ExtraBold.ttf') format('opentype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'RalewaySemiBold';
	src: 
		url('../fonts/Raleway-SemiBold.ttf') format('opentype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'RalewayBold';
	src: 
		url('../fonts/Raleway-Bold.ttf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'RalewayMedium';
	src: 
		url('../fonts/Raleway-Medium.ttf') format('opentype');
	font-weight: 500;
	font-style: normal;
}