// FONTS
$Raleway: 'Raleway', sans-serif;
$RalewayExtraBold: 'RalewayExtraBold', sans-serif;
$RalewaySemiBold: 'RalewaySemiBold', sans-serif;
$RalewayBold: 'RalewayBold', sans-serif;
$RalewayMedium: 'RalewayMedium', sans-serif;

$fontSize: 1rem;